# Nivell 1
## Exercici 1
#### Agafa un conjunt de dades de tema esportiu que t'agradi i selecciona un atribut del conjunt de dades. Calcula el p-valor i digues si rebutja la hipòtesi nul·la agafant un alfa de 5%.

In [1]:
import pandas as pd
import time
import datetime
from scipy import stats
import numpy as np

#### Study proposed:
Verify if there is any difference, on average, between men and women on bike race finishing times.

#### Datasets used:
I´ll use 6 sets of data - 3 races, divided by gender. Instead of using just one race to test the hypothesis, I´ll repeat the test 3 times using different races, in order to confirm the result more than once. The datasets are from the UCI Mountain Bike Downhill World Cup, and can be found here: https://www.uci.org/mountain-bike/results.

#### Hypothesis:
Hypotesis 0: On average, men and women have the same finishing time.  
Hypotesis 1: On average, men are faster than women.

In [2]:
df_men1 = pd.read_excel('C:/Users/xizes/Results.xlsx')
df_men2 = pd.read_excel('C:/Users/xizes/Results (2).xlsx')
df_men3 = pd.read_excel('C:/Users/xizes/Results (4).xlsx')
df_women1 = pd.read_excel('C:/Users/xizes/Results (1).xlsx')
df_women2 = pd.read_excel('C:/Users/xizes/Results (3).xlsx')
df_women3 = pd.read_excel('C:/Users/xizes/Results (5).xlsx')

In [3]:
#Test - IGNORE
#c = datetime.datetime.strptime(df_men1['Result'].iloc[0], "%M:%S.%f")

#Test - IGNORE
#c.time().microsecond

#Test - IGNORE
#Convert all athletes´ finish times into seconds
#datetime.timedelta(minutes=c.time().minute, seconds=c.time().second, microseconds=c.time().microsecond).total_seconds()

#Test - IGNORE
#datetime.timedelta(minutes=datetime.datetime.strptime(df_men3['Result'].iloc[0], "%H:%M:%S.%f").time().minute, seconds=datetime.datetime.strptime(df_men3['Result'].iloc[0], "%H:%M:%S.%f").time().second, microseconds=datetime.datetime.strptime(df_men3['Result'].iloc[0], "%H:%M:%S.%f").time().microsecond).total_seconds()

In [4]:
#Drop all rows with NaN on the 'Result' column
df_men1.dropna(axis=0, subset=['Result'], inplace=True)
df_men2.dropna(axis=0, subset=['Result'], inplace=True)
df_men3.dropna(axis=0, subset=['Result'], inplace=True)

df_women1.dropna(axis=0, subset=['Result'], inplace=True)
df_women2.dropna(axis=0, subset=['Result'], inplace=True)
df_women3.dropna(axis=0, subset=['Result'], inplace=True)

In [8]:
#Small correction of time format for index 20 on df_women1
df_women1['Result'].iloc[20] = '4:21.98'

In [9]:
#Create lists to receive the times (in seconds) of each rider and each race
#The function takes the string in column 'Result', transforms it to datetime format, extracts the minutes, seconds and microseconds and sum it all together as seconds (and microseconds)

#Men dfs
lis_finish_time_secs_men1 = []
df_men1['Result'].apply(lambda x: lis_finish_time_secs_men1.append(datetime.timedelta(minutes=datetime.datetime.strptime(x, "%M:%S.%f").time().minute, seconds=datetime.datetime.strptime(x, "%M:%S.%f").time().second, microseconds=datetime.datetime.strptime(x, "%M:%S.%f").time().microsecond).total_seconds()))
lis_finish_time_secs_men2 = []
df_men2['Result'].apply(lambda x: lis_finish_time_secs_men2.append(datetime.timedelta(minutes=datetime.datetime.strptime(x, "%H:%M:%S.%f").time().minute, seconds=datetime.datetime.strptime(x, "%H:%M:%S.%f").time().second, microseconds=datetime.datetime.strptime(x, "%H:%M:%S.%f").time().microsecond).total_seconds()))
lis_finish_time_secs_men3 = []
df_men3['Result'].apply(lambda x: lis_finish_time_secs_men3.append(datetime.timedelta(minutes=datetime.datetime.strptime(x, "%H:%M:%S.%f").time().minute, seconds=datetime.datetime.strptime(x, "%H:%M:%S.%f").time().second, microseconds=datetime.datetime.strptime(x, "%H:%M:%S.%f").time().microsecond).total_seconds()))


#Women dfs
lis_finish_time_secs_women1 = []
df_women1['Result'].apply(lambda x: lis_finish_time_secs_women1.append(datetime.timedelta(minutes=datetime.datetime.strptime(x, "%M:%S.%f").time().minute, seconds=datetime.datetime.strptime(x, "%M:%S.%f").time().second, microseconds=datetime.datetime.strptime(x, "%M:%S.%f").time().microsecond).total_seconds()))
lis_finish_time_secs_women2 = []
df_women2['Result'].apply(lambda x: lis_finish_time_secs_women2.append(datetime.timedelta(minutes=datetime.datetime.strptime(x, "%H:%M:%S.%f").time().minute, seconds=datetime.datetime.strptime(x, "%H:%M:%S.%f").time().second, microseconds=datetime.datetime.strptime(x, "%H:%M:%S.%f").time().microsecond).total_seconds()))
lis_finish_time_secs_women3 = []
df_women3['Result'].apply(lambda x: lis_finish_time_secs_women3.append(datetime.timedelta(minutes=datetime.datetime.strptime(x, "%H:%M:%S.%f").time().minute, seconds=datetime.datetime.strptime(x, "%H:%M:%S.%f").time().second, microseconds=datetime.datetime.strptime(x, "%H:%M:%S.%f").time().microsecond).total_seconds()))

0     None
1     None
2     None
3     None
4     None
5     None
6     None
7     None
8     None
9     None
10    None
11    None
12    None
13    None
14    None
Name: Result, dtype: object

In [10]:
#Compare the mean for each sex on each race
#(As we have a smaller number of women than man competing on each race, 
#I have matched the number of racers of men and women using slicing)
print(f'First Race, mean time for men: {round(np.array(lis_finish_time_secs_men1[0:len(lis_finish_time_secs_women1)]).mean(),2 )}')
print(f'First Race, mean time for women: {round(np.array(lis_finish_time_secs_women1).mean(), 2)}')
print()
print(f'Second Race, mean time for men: {round(np.array(lis_finish_time_secs_men2[0:len(lis_finish_time_secs_women2)]).mean(), 2)}')
print(f'Second Race, mean time for women: {round(np.array(lis_finish_time_secs_women2).mean(), 2)}')
print()
print(f'Third Race, mean time for men: {round(np.array(lis_finish_time_secs_men3[0:len(lis_finish_time_secs_women3)]).mean(), 2)}')
print(f'Third Race, mean time for women: {round(np.array(lis_finish_time_secs_women3).mean(), 2)}')

First Race, mean time for men: 166.01
First Race, mean time for women: 216.26

Second Race, mean time for men: 181.86
Second Race, mean time for women: 220.91

Third Race, mean time for men: 198.97
Third Race, mean time for women: 236.97

**It seems that we have a pattern of lower mean time for men.**

**Let´s now test the hypothesis and see if we can refute the null hypothesis.**

In [11]:
#t-test and p-value for the 1st group: first race - men x women finish times
stats.ttest_ind(lis_finish_time_secs_men1[0:len(lis_finish_time_secs_women1)], lis_finish_time_secs_women1)

Ttest_indResult(statistic=-9.44278033294444, pvalue=6.039294919367617e-12)

In [12]:
#t-test and p-value for the 2nd group: second race - men x women finish times
stats.ttest_ind(lis_finish_time_secs_men2[0:len(lis_finish_time_secs_women2)], lis_finish_time_secs_women2)

Ttest_indResult(statistic=-11.832616007021649, pvalue=7.920006704153505e-13)

In [13]:
#t-test and p-value for the 3rd group: third race - men x women finish times
stats.ttest_ind(lis_finish_time_secs_men3[0:len(lis_finish_time_secs_women3)], lis_finish_time_secs_women3)

Ttest_indResult(statistic=-18.814121690992202, pvalue=2.0029104608789813e-17)

### Conclusion:

The null hypothesis is ***REFUTED***.

In comparing the results between the 3 group sets of data (2 sets by each group (men and women)) we realize the p-value for all of them is really low, much lower than the pre determined alpha value of 5%.

That tells us that the lower mean for men are not by chance and there is a causal relation comprehending the sex of the athlete and the time they finish the race.

# Nivell 2
## Exercici 2
#### Continua amb el conjunt de dades de tema esportiu que t'agradi i selecciona dos atributs del conjunt de dades. Calcula el p-valor i digues si rebutja la hipòtesi nul·la agafant un alfa de 5%.

#### Study proposed:
Check the average age of the Tour de France participants in 2 different moments in time (1903-1913 and 2009-2019).

#### Hypothesis:
Hypotesis 0: On average, Tour de France riders have the same age in the 1st decade as on the last decade of the competition.  
Hypotesis 1: On average, Tour de France riders have different age in the 1st decade than on the last decade of the competition.

#### Datasets used:
I´ll use the 'stage_data' Tour de France dataset found on Kaggle.

In [14]:
df_tour_stages = pd.read_csv('C:/Users/xizes/stage_data.csv')

In [15]:
df_tour_stages.head()

,edition,year,stage_results_id,rank,time,rider,age,team,points,elapsed,bib_number
0,1,1903,stage-1,1,13S,Garin Maurice,32.0,NaN,100.0,13S,NaN
1,1,1903,stage-1,2,55S,Pagie Émile,32.0,NaN,70.0,8S,NaN
2,1,1903,stage-1,3,59S,Georget Léon,23.0,NaN,50.0,12S,NaN
3,1,1903,stage-1,4,48S,Augereau Fernand,20.0,NaN,40.0,1S,NaN
4,1,1903,stage-1,5,53S,Fischer Jean,36.0,NaN,32.0,6S,NaN

In [16]:
#Create 2 arrays for age of participants: one for the first decade and the other for the last.
#I also used 'stage-1' as a filter in order to not repeat the riders.
age_first_decade = df_tour_stages[((df_tour_stages['year'] >= 1903) & (df_tour_stages['stage_results_id'] == 'stage-1')) & ((df_tour_stages['year'] <= 1913) & (df_tour_stages['stage_results_id'] == 'stage-1'))]['age']
age_last_decade = df_tour_stages[((df_tour_stages['year'] >= 2009) & (df_tour_stages['stage_results_id'] == 'stage-1')) & ((df_tour_stages['year'] <= 2019) & (df_tour_stages['stage_results_id'] == 'stage-1'))]['age']

In [17]:
#Test different decades - TEST - IGNORE
#test = df_tour_stages[((df_tour_stages['year'] >= 1990) & (df_tour_stages['stage_results_id'] == 'stage-1')) & ((df_tour_stages['year'] <= 2000) & (df_tour_stages['stage_results_id'] == 'stage-1'))]['age']
#test.dropna(inplace=True)
#print(test.shape)
#print(f'mean age: {test.sample(n=500).mean()}')

In [18]:
age_first_decade.dropna(inplace=True)
age_last_decade.dropna(inplace=True)

<ipython-input-18-7a63302195b1>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_first_decade.dropna(inplace=True)
<ipython-input-18-7a63302195b1>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_last_decade.dropna(inplace=True)

In [19]:
print(age_first_decade.shape)
print(age_last_decade.shape)

(713,)
(2115,)

In [20]:
age_first_decade_sample = age_first_decade.sample(n=500)
age_last_decade_sample = age_last_decade.sample(n=500)

In [21]:
print(f'First decade mean age: {round(age_first_decade.mean(), 2)}')
print(f'Last decade mean age: {round(age_last_decade.mean(), 2)}')

First decade mean age: 25.33
Last decade mean age: 29.18

In [22]:
stats.ttest_rel(a=age_first_decade_sample, b=age_last_decade_sample)

Ttest_relResult(statistic=-14.384226376621562, pvalue=1.701527871860571e-39)

### Conclusion:

The null hypothesis is ***REFUTED***.

Comparing the results between the mean age of the first and last decades of Tour de France we realize the p-value is well below 5% (alpha).

That tells us that it´s likely that the aging of the athletes that participate on the competition is not by chance, but a steady trend.

# Nivell 3
## Exercici 3
#### Continua amb el conjunt de dades de tema esportiu que t'agradi i selecciona tres atributs del conjunt de dades. Calcula el p-valor i digues si rebutja la hipòtesi nul·la agafant un alfa de 5%.

#### Study proposed:
I´ll repeat the previous exercise, but this time I´ll use 3 sets of data, instead of 2:
Check the average age of the Tour de France participants in 3 different moments in time (1903-1913, 1950-1960 and 2009-2019).

#### Hypothesis:
Hypotesis 0: On average, Tour de France riders have the same age in the 1st decade as on the last decade of the competition.  
Hypotesis 1: On average, Tour de France riders have different age in the 1st decade than on the last decade of the competition.

#### Datasets used:
I´ll use the 'stage_data' Tour de France dataset found on Kaggle.

In [25]:
df_tour_stages = pd.read_csv('C:/Users/xizes/stage_data.csv')

In [26]:
#Create 3 arrays for age of participants: one for the first decade, one for the middle decade and the other for the last.
#I also used 'stage-1' as a filter in order to not repeat the riders.
age_first_decade = df_tour_stages[((df_tour_stages['year'] >= 1903) & (df_tour_stages['stage_results_id'] == 'stage-1')) & ((df_tour_stages['year'] <= 1913) & (df_tour_stages['stage_results_id'] == 'stage-1'))]['age']
age_middle_decade = df_tour_stages[((df_tour_stages['year'] >= 1950) & (df_tour_stages['stage_results_id'] == 'stage-1')) & ((df_tour_stages['year'] <= 1960) & (df_tour_stages['stage_results_id'] == 'stage-1'))]['age']
age_last_decade = df_tour_stages[((df_tour_stages['year'] >= 2009) & (df_tour_stages['stage_results_id'] == 'stage-1')) & ((df_tour_stages['year'] <= 2019) & (df_tour_stages['stage_results_id'] == 'stage-1'))]['age']

In [27]:
age_first_decade.dropna(inplace=True)
age_middle_decade.dropna(inplace=True)
age_last_decade.dropna(inplace=True)

<ipython-input-27-219b869838a9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_first_decade.dropna(inplace=True)
<ipython-input-27-219b869838a9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_middle_decade.dropna(inplace=True)
<ipython-input-27-219b869838a9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_last_decade.dropna(inplace=True)

In [28]:
print(age_first_decade.shape)
print(age_middle_decade.shape)
print(age_last_decade.shape)

(713,)
(1071,)
(2115,)

In [29]:
age_first_decade_sample = age_first_decade.sample(n=500)
age_middle_decade_sample = age_middle_decade.sample(n=500)
age_last_decade_sample = age_last_decade.sample(n=500)

In [30]:
print(f'First decade mean age: {round(age_first_decade.mean(), 2)}')
print(f'Middle decade mean age: {round(age_middle_decade.mean(), 2)}')
print(f'Last decade mean age: {round(age_last_decade.mean(), 2)}')

First decade mean age: 25.33
Middle decade mean age: 26.83
Last decade mean age: 29.18

In [31]:
stats.f_oneway(age_first_decade_sample, age_middle_decade_sample, age_last_decade_sample)

F_onewayResult(statistic=101.58904196895529, pvalue=4.250587471512955e-42)

### Conclusion:

The null hypothesis is ***REFUTED***.

Comparing the results between the mean age of the first, middle and last decades of Tour de France we realize the p-value is well below 5% (alpha).

That tells us that it´s likely that the aging of the athletes that participate on the competition is not by chance, but a steady trend.